{
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "alias": {
          "@": "./app/src",
          "@shared": "./app/src/modules/shared",
          "@code": "./app/src/modules/code",
          "@utils": "./app/src/utils",
          "@render": "./app/src/render",
          "@assets": "./app/src/assets",
          "@hooks": "./app/src/hooks",
          "@components": "./app/src/components",
          "@I18n": "./app/localization"
        }
      },
      "@babel/plugin-syntax-dynamic-import"
    ]
  ],
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-env",
    "@babel/preset-react"
  ]
}
